# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

# Optional: VSCode settings
.vscode/

# Coverage reports (if using Jest, etc.)
coverage/

# Mongoose/mongo dumps
dump/
